## Mac OS X
*.DS_Store
.DS_Store

## Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace/
project.xcworkspace/
xcuserdata/

## Build generated
build/
DerivedData
build.xcarchive

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

# CocoaPods
Pods/

# Carthage
Carthage/Checkouts
Carthage/Build